/* Variables and mixins declared here will be available in all other SCSS files */

$black: #000;
$white: #fff;

$dark-background-color: #202020; // Dark Gray
$dark-text-color: #f5f5f5; // Light Gray

